html {
	font-size: 62.5%; /* 10px (navegador tem como padrao 16px) */
}

body {
	/* Posicionamento */

	/* Display e Box Model*/
	margin: 0;

	/* Cores */

	/* Texto */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.4rem;

	/* Outros */
}